<h1>Searching for - <%= @search_term %></h1>

<% if @courses.nil? %>

<p>No courses found with relevent information to the search term</p>

<% else %>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% @courses.each do |course| %>
    <tr class=<%= cycle('even', 'odd') %>>
      <td><%= image_tag(course["smallIcon"]) %></td>
      <td><%= course["name"] %></td>
      <td><%= course["shortDescription"] %></td>
    </tr>
  <% end %>
</table>

<% end %> 
